.main {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  width: 50%;
  height: 35%;
  background-color: #65d5e258;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.container {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 25px;
}

.info__weather {
  font-size: 20px;
  padding-top: 20px;
}

.form__button {
  font-size: 20px;
  height: 25px;
  border-style: none;
  border-radius: 5px;
  background-color: rgba(85, 48, 220, 0.639);
}

.form__input {
  font-size: 20px;
  height: 25px;
  text-align: center;
  border-style: none;
  border-radius: 5px;
}